html, body, div, header, button, span { padding: 0; margin: 0; font-family: 'Helvetica'; -webkit-user-select: none; cursor: default; }

#iPhone { width: 368px; height: 716px; margin: 0 auto; position: relative; }

#screen { width: 320px; height: 480px; position: absolute; left: 24px; top: 118px; overflow: hidden; }

#home { position: absolute; bottom: 29px; width: 100%; text-align: center; }
#home button { border: none; height: 70px; width: 70px; background: url(../imgs/home.png) no-repeat 100px 100px; background-size: 70px; }
#home button:active { background-position: 0px 0px; }

#time-status { position: absolute; top: 0px; left: 0px; right: 0px; text-align: center; }

#status-bar { height: 20px; position: relative; }
#status-bar span { color: #cfcfcf; font-size: 10px; height: 20px; line-height: 20px; display: inline-block; }
#status-bar span.left { float: left; }
#status-bar span.right { float: right; }
#status-bar span.icon { background: url(../imgs/icons.png) no-repeat; background-size: 50px; width: 25px; }
#status-bar span.intensity { background-position: 2px -197px; }
#status-bar span.battery { background-position: 2px -146px; width: 27px; }
#status-bar span.orientation_lock { background-position: 2px -173px; width: 23px; }
#status-bar span.location { background-position: 2px -122px; width: 17px; }
#status-bar span.alarm { background-position: 2px -97px; width: 17px; }

#app-grids { display: -webkit-box; height: 344px; overflow: hidden; width: 200%; }
#app-grids > div { width: 320px; height: 334px; padding-top: 10px; }
#app-grids > div:first-child { -webkit-transition: background-color 0.3s ease; }
#app-grids > div:first-child.show-search { background-color: rgba(0, 0, 0, 0.618); }

#page-control { height: 36px; text-align: center; -webkit-transition: background-color 0.3s ease; }
#page-control.show-search { background-color: rgba(0, 0, 0, 0.618); }
#page-control span { display: inline-block; width: 10px; height: 36px; background: url(../imgs/icons.png) no-repeat 1px 12px; background-size: 50px; }
#page-control span.active { background-position: 1px -13px; }

#app-dock { height: 80px; background: url(../imgs/dock.png) no-repeat left bottom; background-size: 320px; -webkit-transition: background-color 0.3s ease; }
#app-dock.show-search { background-color: rgba(0, 0, 0, 0.618); }
#app-dock .app { height: 80px; }
#app-dock .app-icon { -webkit-box-reflect: below -2px -webkit-linear-gradient(transparent, transparent 50%, rgba(0, 0, 0, 0.3)); }

#keyboard { height: 216px; background: url(../imgs/keyboard.png) no-repeat; background-size: 320px; position: absolute; top: 480px; left: 0px; width: 320px; -webkit-transition: top 0.35s ease; }
#keyboard.show { top: 264px; }

.app-column { padding: 0px 6px; display: -webkit-box; }
.app-column .app { width: 77px; height: 86px; }
.app-column .app-icon { width: 57px; height: 57px; margin: 0 auto; }
.app-column .app-icon img { width: 57px; }
.app-column .app-title { color: white; text-align: center; font-size: 13px; padding-top: 3px; text-shadow: -1px 2px 1px rgba(0, 0, 0, 0.6); height: 19px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; }

body { background: -webkit-radial-gradient(white, #cccccc, #999999); padding-top: 30px; }

#iPhone { background: url(../imgs/frame.png) no-repeat; background-size: 368px; }

#screen { background: url(../imgs/background.png) no-repeat; background-size: 320px; }

#status-bar { background-color: rgba(0, 0, 0, 0.618); }
