<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="styles/site.css" />
  </head>
  <body>
  	{{ content }}
  	<div id="disqus_thread">
  	</div>
  	<script>
  		var disqus_shortname = "everycoder";
  		
  		(function(){
  			var dsq = document.createElement("script");
  			dsq.type = "text/javascript";
  			dsq.async = true;
  			dsq.src = "http://" + disqus_shortname + ".disqus.com/embed.js";
  			(document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]).appendChild(dsq);
  		})();
  	</script>
    {% include footer.textile %}
  </body>
</html>
