html,body,header,footer,div,section,p,span,h1,h2,ol,li{padding:0;margin:0;}

html,body{background-color:#e1ede0;}

.wrapper{width:900px;margin:0 auto;position:relative;}

header{color:white;background-color:black;padding-top:10px;padding-bottom:10px;border-bottom:4px solid white;box-shadow:0px 1px 2px rgba(0,0,0,0.2);}
header h1{font-size:35px;letter-spacing:20px;padding-bottom:10px;}
header h2{font-size:18px;letter-spacing:10px;margin-left:120px;}
.p{margin-left:0px;}
.p>span{font-size:80px;float:left;margin-right:10px;letter-spacing:0px;text-shadow:5px 2px 6px rgba(0, 0, 0, 0.25);}
header img{position:absolute;height:80px;width:80px;right:40px;top:30px;padding:4px;border:1px solid rgba(0,0,0,0.2);background-color:#fff;border-radius:4px;box-shadow:1px 1px 2px rgba(0,0,0,0.2);-webkit-mask-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255,255,255,0.79)), color-stop(1, rgba(255,255,255,0.98)));}

#content{padding:10px 0px;min-height:500px;}

#content a{-webkit-transition:all 0.2s ease;}
#content a:link, .p-c a:visited{color:blue;}
#content a:hover{color:rgba(0,0,255,0.6);}
#content a:active{color:red;}

.p-c{padding:60px 5px 0px;}
.p-c p{line-height:22px;text-indent:20px;margin:10px 10px;}
.p-f{margin-bottom:20px;border-top:1px solid #bbb;border-bottom:1px solid white;}
.p-c ol{list-style-position:inside;margin-left:30px;}
.p-c .b{font-weight:bold;}
.p-c .d{padding-left:30px;}

footer{color:white;background-color:#2a3028;padding-top:10px;padding-bottom:10px;border-top:2px solid white;box-shadow:0px -1px 2px rgba(0,0,0,0.2);font-size:13px;}
footer a{color:white;text-decoration:none;margin-right:20px;}
footer a:hover{text-decoration:underline;}
footer a:active{color:red;}
footer span{padding-right:5px;color:#b2caa6;}
